<<<<<<< HEAD
.wrap {
    margin: 0 auto;
}

=======
>>>>>>> a62ebfbef2cd79acaffd688a976b41d27c4758a3
body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0 0 0 0;
}

<<<<<<< HEAD
=======
h1{
    color:gold;
}

.container{
    width: 960px;
    margin: 0 auto;
}
>>>>>>> a62ebfbef2cd79acaffd688a976b41d27c4758a3
